<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.teacherforboss"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/begin_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TeacherForBoss"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="31">
        <activity
            android:name=".presentation.ui.auth.login.LoginActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".presentation.ui.mypage.modify.ModifyTeacherProfileActivity"
            android:exported="true"
            android:theme="@style/Theme.TeacherForBoss">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >

        </activity>
        <activity
            android:name=".presentation.ui.auth.findinfo.screens.FinishFindPwActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".presentation.ui.auth.findinfo.screens.FindPwActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".presentation.ui.auth.signup.SignupActivity"
            android:exported="false"
            android:theme="@style/Theme.TeacherForBoss" />
        <activity
            android:name=".presentation.ui.community.teacher_talk.body.TeacherTalkBodyActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".presentation.ui.community.teacher_talk.answer.TeacherTalkAnswerActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".presentation.ui.community.teacher_talk.ask.TeacherTalkAskActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".presentation.ui.community.teacher_talk.answer.ShowBodyActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".presentation.ui.community.boss_talk.body.BossTalkBodyActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
          
        </activity>
        <activity
            android:name=".presentation.ui.community.boss_talk.write.BossTalkWriteActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".presentation.ui.auth.signup.SignupFinishActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".presentation.common.WebViewActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakao50baba15ac88207a1244824c310190e1" />
            </intent-filter>
        </activity>
    </application>

</manifest>